<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  <body>



<p id="notice"><%= notice %></p>

<%= form_tag("/personagens", method: "get") do %>
  <b>Força: </b>
  <%= number_field_tag(:forca, params[:forca]) %>
  <%= submit_tag("Filtrar") %>
<% end %>

<h1>Personagens</h1>

<table class="table table-bordered table-center">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Forca</th>
      <th>Resistencia</th>
      <th>Agilidade</th>
      <th>Destreza</th>
      <th colspan="3">Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @personagens.each do |personagem| %>
      <tr>
        <td><%= personagem.nome %></td>
        <td><%= personagem.forca %></td>
        <td><%= personagem.resistencia %></td>
        <td><%= personagem.agilidade %></td>
        <td><%= personagem.destreza %></td>
        <td><%= link_to 'Ver', personagem, class: "btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_personagem_path(personagem), class: "btn btn-warning" %></td>
         <td><%= link_to 'Excluir', personagem, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo', new_personagem_path, class: "btn btn-primary"%>

 </body>
</html>
