<h1>Cadastro de Personagem</h1>
<%= form_for @personagem do |f| %>
<p>
<%= f.label :nome %> <br />
<%= f.text_field :nome %>
</p>
<p>
<%= f.label :forca %> <br />
<%= f.text_field :forca %>
</p>
<p>
<%= f.label :resistencia %> <br />
<%= f.text_field :resistencia %>
</p>
<p>
<%= f.label :agilidade %> <br />
<%= f.text_field :agilidade %>
</p>
<p>
<%= f.label :destreza %> <br />
<%= f.text_field :destreza %>
</p>
<p>
<%= f.submit %>
</p>

<%= link_to "Voltar", root_path %>
<% end %>
