<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <div class="container-fluid">
      <body>


    <h1>Cadastro de Personagem</h1>
    <div class="form-group">

    <%= form_for @personagem do |f| %>
    <p>

        <%= f.label :nome %> <br />
        <%= f.text_field :nome %>
        </p>
        <p>
        <%= f.label :forca %> <br />
        <%= f.number_field :forca %>
        </p>
        <p>
        <%= f.label :resistencia %> <br />
        <%= f.number_field :resistencia %>
        </p>
        <p>
        <%= f.label :agilidade %> <br />
        <%= f.number_field :agilidade %>
        </p>
        <p>
        <%= f.label :destreza %> <br />
        <%= f.number_field :destreza %>
        </p>
   </div>
    <p>
    <%= f.submit "Criar",class:"btn btn-outline-primary"%>
    </p>

    <%= link_to "Voltar", root_path,class:"btn btn-outline-secondary" %>
    <% end %>

     </body>
</div>
</html>
