<h1>Editar Poder</h1>
<%= form_for @poder do |f| %>
<p>
<%= f.label :nome %> <br />
<%= f.text_field :nome %>
</p>
<p>
<%= f.label :tipo %> <br />
<%= f.text_field :tipo %>
</p>
<p>
<%= f.submit %>
</p>
<%= link_to "Voltar", @poder %>
<% end %>
