<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div class="container">
      <body>
          <h1>Editar Poder</h1>
    <%= form_for @poder do |f| %>
    <p>
    <%= f.label :nome %> <br />
    <%= f.text_field :nome %>
    </p>
    <p>
    <%= f.label :tipo %> <br />
    <%= f.text_field :tipo %>
    </p>
    <p>
    <%= f.submit "Atualizar ",class:'btn btn-warning' %>
    </p>
    <%= link_to "Voltar",root_path, class:" btn btn-primary"%>
    <% end %>

    <!-- JavaScript (Opcional) -->
       <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->

   </body>
</div>
</html>
