<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div class="container">
      <body>
          <h1>Editar Poder</h1>
    <%= form_for @poder do |f| %>
    <p>
        <p>
            <div class="row">
              <div class="col">
                  <%= f.label :nome %>
                  <%= f.text_field :nome ,class:'form-control'%>

              </div>
              <div class="col">
                  <%= f.label :tipo %>
                  <%= f.text_field :tipo ,class:'form-control'%>
              </div>
            </div>
        </p>
</p>
    <p>
    <%= f.submit "Atualizar ",class:'btn btn-outline-warning' %>
    </p>
    <%= link_to "Voltar",root_path, class:" btn btn-outline-primary"%>
    <% end %>

    <!-- JavaScript (Opcional) -->
       <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->

   </body>
</div>
</html>
