<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
      <body>


    <p id="notice"><%= notice %></p>

    <h1>Poderes</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>IdPersonagem</th>
          <th>Nome</th>
          <th>Tipo</th>


          <th colspan="2">Opções</th>
        </tr>
      </thead>

      <tbody>
        <% @poderes.each do |poder| %>
          <tr>
            <td><%= poder.personagem.id %></td>
            <td><%= poder.nome %></td>
            <td><%= poder.tipo %></td>
            <!-- <td><%= link_to 'Ver', poder %></td> -->
            <td><%= link_to 'Editar', edit_poder_path(poder),class: 'btn btn-outline-primary' %></td>
            <td><%= link_to 'Excluir',poder_path(poder), method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-outline-danger" %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

     <!-- <%= link_to 'Novo Poder', new_poder_path %> -->
      <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->

      </body>
</div>
</html>
