<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<div class="container">
      <body>
      <% if @poder.errors.any?%>
          <div id ="error_explanation">
              <h2> Infelizmente não foi possível completar
                  a ação pois o formulário possui os seguintes erros:</h2>
                  <ul>
                      <% @poder.errors.full_messages.each do |message|%>
                          <li><%=message%></li>
                      <%end%>
                  </ul>
          </div>

      <%end%>
    <h1>Cadastro de Poderes</h1>
    <%= form_for @poder do |f| %>
    <p>


        <!-- <%= f.label :personagem,class:'form-group' %> <br />
        <%= f.collection_select(:personagem_id, @personagens, :id, :nome, selected: params[:personagem_id],class:'form-control')  %> -->

    </p>
    <p>
        <div class="row">
          <div class="col">
              <%= f.label :nome %>
              <%= f.text_field :nome ,class:'form-control'%>

          </div>
          <div class="col">
              <%= f.label :tipo %>
              <%= f.text_field :tipo ,class:'form-control'%>
          </div>
        </div>
    </p>

    <p>
    <%= f.submit "Criar",class:'btn btn-outline-primary'%>
    </p>
    <% end %>

    <!-- JavaScript (Opcional) -->
       <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
       <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
     </body>
</div>
</p></p>
</html>
