<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<div class="container">
      <body>


    <p id="notice"><%= notice %> </p>
    <h2>Poder: <%= @poder.nome %> </h2>

     <h3>Tipo: <%= @poder.tipo %> </h3>
    </ul>
    <%= link_to 'Editar Poder', edit_poder_path(@poder) ,class:"btn btn-outline-warning"%>
    <%= link_to 'Personagem', @poder.personagem, class:"btn btn-outline-info"%>

    <!-- JavaScript (Opcional) -->

     </body>
</div>
</html>
